// Font familys
$sans: Helvetica, Arial, Sans-serif;
$serif: Georgia, Serif;

// Type sequence
$giga: 6.8;
$mega: 5.5;
$alpha: 4.2;
$beta: 3.4;
$gamma: 2.8;
$delta: 2; // Base size 
$epsilon: 1.6;
$zeta: 1.4;

// Typografy
$font-weight: 300;
$line-height: 1.45;
$font-size: 62.5;

// Colors
$primary: #1abc9c;
$secondary: #f1c40f; 
$black: #333; 

// Margins
$sm: 4;
$mm: 8;
$lm: 16;