
.icon-menu:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-go-logo:before { content: '\e803'; } /* '' */
.icon-cross:before { content: '\e804'; } /* '' */
.icon-keyboard:before { content: '\e805'; } /* '' */
.icon-go-symbol:before { content: '\e806'; } /* '' */
.icon-arrow:before { content: '\e807'; } /* '' */
.icon-lightbulb:before { content: '\e808'; } /* '' */
.icon-instagramm:before { content: '\e809'; } /* '' */
.icon-facebook-squared:before { content: '\e80a'; } /* '' */
.icon-twitter-squared:before { content: '\e80b'; } /* '' */
.icon-chess:before { content: '\e80c'; } /* '' */
.icon-behance-squared:before { content: '\e80d'; } /* '' */
.icon-linkedin-squared:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-dribbble:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-behance:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e815'; } /* '' */